<h3>Disclaimer</h3>

<p>Anything I put in here is my own opinion or reaction to certain things.  If I did put some incorrect information, especially to things about technology, feel free to correct me. Thanks.</p>

<h3>Random Facts about me</h3>

<p>I collect playing cards, and of course I know a few card tricks to go with it.  I never go out without a music player.  I bring a headphone and an IEM wherever I go.  I don't like smartphones.</p>

<h3>Recent Posts</h3>
<ul>
	{% for post in site.posts limit: 5 %}
	<li><a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
</ul>
